@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --creamyWhite: #f2e9e1;
  --mutedGreen: #acd0c0;
  --earthyOrange: #cbe86b;
  --creamyYellow: #f3ffbd;
  --richBrown: #1c140d;
}
* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
#root {
  background-color: var(--creamyWhite) !important;
 
}
.brand{
  font-weight: 700 !important;
  color: var(--richBrown);
}


.home-page,
body {
  background-color: var(--creamyWhite);
}
.header {
  background-color: var(--mutedGreen);
  color: var(--richBrown);
}
.header nav {
  background-color: var(--earthyOrange);
}

.btn-main {
  background-color: var(--richBrown) !important;
  color: var(--creamyYellow) !important;
  font-weight: 500 !important;
}
.btn-second {
  background-color: var(--creamyYellow) !important;
  color: var(--richBrown) !important;
  font-weight: 600 !important;
}

.btn-main:hover {
  background-color: var(--creamyYellow) !important;
  color: var(--richBrown) !important;
  font-weight: 600 !important;
}

.btn-second:hover {
  background-color: var(--richBrown) !important;
  color: var(--creamyYellow) !important;
  font-weight: 500 !important;
}

.image-container {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  color: var(--earthyOrange);
  background-color: rgba(0, 0, 0, 0.7); /* Optional overlay background */
}

.text-box {
  margin-top: 11rem !important;
  text-align: center;
}

.text-block-1 {
  margin-top: 0;
  text-align: justify;

}
.text-block-1 h2 {
  color: var(--creamyYellow);
  text-align:start;
}

.text-block-2 p strong {
  color: var(--creamyYellow);
}
/* .nav-item >.active{
  color: #fff;
  border-right-width: 0;
  border-bottom-width: 0;
  background-color: #c7c7c733 !important;
}
.active {
  border-bottom: 1px solid #1c140d !important;
  font-weight: 600 !important;
  box-shadow: 1px 2px 5px #1c140d;
  border-radius: 20px;
  background-color:var(--creamyYellow) !important;
  color: var(--richBrown) !important;
} */

.text-brown{
  color: var(--richBrown);
}
.navbar-nav {
  gap: 10px;
}

.nav-link:hover {
  border-bottom: 1px solid #1c140d !important;
  font-weight: 600 !important;

  border-radius: 20px;
}
.wrapper {
  position: relative;
  top: 4rem;
  background-color: var(--creamyWhite);

}

.inputBox .form-control,
.inputBox .input-group-text {
  border: 0;
  background: transparent !important;
  border-bottom: 1px solid #1c140d;
  outline: 0 !important;
  box-shadow: none !important;
}

.form-control:focus {
  border: 0;
  border-color: #1c140d !important;
  outline: 0 !important;
  box-shadow: none !important;
  border-bottom: 1px solid #1c140d;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset !important;
}

.forgot-password{
  margin-top: 8rem !important;
}
.slider {
  position: absolute;
  width: 550px;
  height: 2px;
  margin-top: -30px;
}
.line {
  position: absolute;
  background: #4a8df8;
  width: 550px;
  height: 4px;
}
.break {
  position: absolute;
  background: #222;
  width: 6px;
  height: 2px;
}

.dot1 {
  -webkit-animation: loading 2s infinite;
  -moz-animation: loading 2s infinite;
  -ms-animation: loading 2s infinite;
  -o-animation: loading 2s infinite;
  animation: loading 2s infinite;
}
.dot2 {
  -webkit-animation: loading 2s 0.5s infinite;
  -moz-animation: loading 2s 0.5s infinite;
  -ms-animation: loading 2s 0.5s infinite;
  -o-animation: loading 2s 0.5s infinite;
  animation: loading 2s 0.5s infinite;
}
.dot3 {
  -webkit-animation: loading 2s 1s infinite;
  -moz-animation: loading 2s 1s infinite;
  -ms-animation: loading 2s 1s infinite;
  -o-animation: loading 2s 1s infinite;
  animation: loading 2s 1s infinite;
}
@keyframes loading {
  from {
    left: 0;
  }
  to {
    left: 550px;
  }
}
.footer{
  background-color: var(--richBrown);
  color: var(--creamyYellow);
  font-size: .85rem;
}
/* *********************************************** */

.navbarHome{
  width: 90%;
  padding: auto;
  margin: auto;
  margin-top: 1.5rem;
  
}
.navbarHome .navbar, .navbarHome{
  backdrop-filter: blur(10px)
}

.electionNav  {
  background-color: var(--richBrown);
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  
  
}
.electionNav .nav-item a{
  color: var(--creamyYellow)  ;
  text-decoration: none;
}

.electionNav .nav-link:hover{
  background-color: var(--earthyOrange);
  color: var(--richBrown);
  transition: all 1s;
}
.election-content .card{
  background-color: var(--mutedGreen);
  color: var(--richBrown);
  margin: 1.2rem;
  padding: .5rem;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

/* *************************************************************************************************************************************************** */

.hexa{
  border: 0px;
  float: left;
  text-align: center;
  height: 35px;
  width: 60px;
  font-size: 22px;
  background: #f0f0f0;
  color: #3c3c3c;
  position: relative;
  margin-top: 15px;
}

.hexa:before{
  content: ""; 
  position: absolute; 
  left: 0; 
  width: 0; 
  height: 0;
  border-bottom: 15px solid #f0f0f0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  top: -15px;
}

.hexa:after{
  content: ""; 
  position: absolute; 
  left: 0; 
  width: 0; 
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 15px solid #f0f0f0;
  bottom: -15px;
}

.timeline {
  position: relative;
  padding: 0;
  width: 100%;
  margin-top: 20px;
  list-style-type: none;
}

.timeline:before {
  position: absolute;
  left: 50%;
  top: 0;
  content: ' ';
  display: block;
  width: 2px;
  height: 100%;
  margin-left: -1px;
  background: rgb(213,213,213);
  background: -moz-linear-gradient(top, rgba(213,213,213,0) 0%, rgb(213,213,213) 8%, rgb(213,213,213) 92%, rgba(213,213,213,0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(125,185,232,1)));
  background: -webkit-linear-gradient(top, rgba(213,213,213,0) 0%, rgb(213,213,213) 8%, rgb(213,213,213) 92%, rgba(213,213,213,0) 100%);
  background: -o-linear-gradient(top, rgba(213,213,213,0) 0%, rgb(213,213,213) 8%, rgb(213,213,213) 92%, rgba(213,213,213,0) 100%);
  background: -ms-linear-gradient(top, rgba(213,213,213,0) 0%, rgb(213,213,213) 8%, rgb(213,213,213) 92%, rgba(213,213,213,0) 100%);
  background: linear-gradient(to bottom, rgba(213,213,213,0) 0%, rgb(213,213,213) 8%, rgb(213,213,213) 92%, rgba(213,213,213,0) 100%);
  z-index: 5;
}

.timeline li {
  padding: 2em 0;
}

.timeline .hexa{
  width: 16px;
  height: 10px;
  position: absolute;
  background: var(--earthyOrange);
  z-index: 5;
  left: 0;
  right: 0;
  margin-left:auto;
  margin-right:auto;
  top: -30px;
  margin-top: 0;
}

.timeline .hexa:before {
  border-bottom: 4px solid var(--earthyOrange);
  border-left-width: 8px;
  border-right-width: 8px;
  top: -4px;
}

.timeline .hexa:after {
  border-left-width: 8px;
  border-right-width: 8px;
  border-top: 4px solid var(--earthyOrange);
  bottom: -4px;
}

.direction-l,
.direction-r {
  float: none;
  width: 100%;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.flag-wrapper {
  text-align: center;
  position: relative;
}

.flag {
  position: relative;
  display: inline;
  background: var(--creamyYellow);
  font-weight: 600;
  z-index: 15;
  padding: 6px 10px;
  text-align: left;
  border-radius: 5px;
}

.direction-l .flag:after,
.direction-r .flag:after {
  content: "";
  position: absolute;
  left: 50%;
  top: -15px;
  height: 0;
  width: 0;
  margin-left: -8px;
  border: solid transparent;
  border-bottom-color: var(--richBrown);
  border-width: 8px;
  pointer-events: none;
}

.direction-l .flag {
  -webkit-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  -moz-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.direction-r .flag {
  -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.time-wrapper {
  display: block;
  position: relative;
  margin: 4px 0 0 0;
  z-index: 14;
  line-height: 1em;

  color: var(--richBrown);
}

.direction-l .time-wrapper {
  float: none;
}

.direction-r .time-wrapper {
  float: none;
}

.time {
  background:var(--earthyOrange);
  display: inline-block;
  padding: 8px;
  color: var(--richBrown);
}

.desc {
  position: relative;
  margin: 1em 0 0 0;
  padding: 1em;
  background: var(--creamyWhite);
  -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.20);
  -moz-box-shadow: 0 0 1px rgba(0,0,0,0.20);
  box-shadow: 0 0 1px rgba(0,0,0,0.20);
  z-index: 15;
}

.direction-l .desc,
.direction-r .desc {
  position: relative;
  margin: 1em 1em 0 1em;
  padding: 1em;
  z-index: 15;
}

@media(min-width: 768px){
  .timeline {
    width: 660px;
    margin: 0 auto;
    margin-top: 20px;
  }

  .timeline li:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  
  .timeline .hexa {
    left: -28px;
    right: auto;
    top: 8px;
  }

  .timeline .direction-l .hexa {
    left: auto;
    right: -28px;
  }

  .direction-l {
    position: relative;
    width: 310px;
    float: left;
    text-align: right;
  }

  .direction-r {
    position: relative;
    width: 310px;
    float: right;
    text-align: left;
  }

  .flag-wrapper {
    display: inline-block;
  }
  
  .flag {
    font-size: 18px;
  }

  .direction-l .flag:after {
    left: auto;
    right: -16px;
    top: 50%;
    margin-top: -8px;
    border: solid transparent;
    border-left-color: var(--richBrown);
    border-width: 8px;
  }

  .direction-r .flag:after {
    top: 50%;
    margin-top: -8px;
    border: solid transparent;
    border-right-color: var(--richBrown);
    border-width: 8px;
    left: -8px;
  }

  .time-wrapper {
    display: inline;
    vertical-align: middle;
    margin: 0;
  }

  .direction-l .time-wrapper {
    float: left;
  }

  .direction-r .time-wrapper {
    float: right;
  }

  .time {
    padding: 5px 10px;
  }

  .direction-r .desc {
    margin: 1em 0 0 0.75em;
  }
}

@media(min-width: 992px){
  .timeline {
    width: 800px;
    margin: 0 auto;
    margin-top: 20px;
  }

  .direction-l {
    position: relative;
    width: 380px;
    float: left;
    text-align: right;
  }

  .direction-r {
    position: relative;
    width: 380px;
    float: right;
    text-align: left;
  }
}

.desc li{
  padding: 0;
}

.top-navbar{

  top: 1rem;
  z-index: 999;
  backdrop-filter: blur(10px);
}

.user-details-card{
  background-color: var(--mutedGreen) !important;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset !important;
    border-radius: 1.825rem;  
}

.user-details-card *{
  color: var(--richBrown) !important;
}

.userInfo-card *{
  background-color: var(--creamyWhite) !important;
  
}

.userEdit-menu-card{
  background-color: var(--richBrown) !important;
  color: var(--creamyYellow);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.userEdit-menu-card .nav-link{
  color: var(--creamyYellow);
}
.Toastify{
  z-index: 99999;
}
.profile-settings .card{
  background-color: var(--mutedGreen) !important;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}
